/*Link color*/
.ql-snow a {  
    color: var(--primaryDark);
}

/*Change checkbox color*/
input.boolean-cell-editor-contents {
  accent-color: var(--primaryDark);
}

.aimms-widget .ui-button {
  text-transform: uppercase;
}

/*Changing tittle to be uppercase*/
.title-addon,
.tag-label>.label,
.ui-dialog .ui-dialog-title,
.page-container__dialog-header .title,
.sidepanel-header .side-panel__header-text{
  text-transform: uppercase;
  text-shadow: 1px 1px 0px var(--primaryDark);
  color: whitesmoke;
}

.tag-table .grid-viewport .cell:not(.flag-readOnly), html:not(.using-touch) .tag-table .grid-viewport .cell:not(.flag-readOnly) {
  color: var(--primaryDark);
}

.widget-menu-container .widget-menu-items-wrapper .widget-menu-item .title {
  color: var(--primaryDark);
}

